@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

body {
  font-size: 16px;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 100%;
  border-top: 2px solid #073b4c;
  border-bottom: 2px solid #073b4c;
  margin-bottom: .5em;
  padding: .5em;
}

.NavBar a {
  color: #118ab2;
}

.HomePage {

}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}
